.header {
  width: 100%;
  display: flex;
  position: fixed;
  height: 8vh;
}

.users-list {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 8vh;
  background-color: $white;
  width: 90vw;
  margin: auto;
  border-radius: 2em;
  box-sizing: border-box;

  .list-container {
    width: 100%;
    border: 2px solid $white;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    &:first-child {
      height: 100%;
    }
  }
}
