// responsiveness
$mobile-size: 576px;
$tablet-size: 768px;


//colours
$purple: #9916a3;
$dim-purple: #700e78;
$light-purple: #f2a8fc;
$dark-purple: #5c0f63;
$light-blue: rgb(0,212,255);
$light-red: #FF6565;
$white: #fff;
$colour-bg1: rgb(2,0,36);
$colour-bg2: radial-gradient(circle, $colour-bg1 0%, $purple 70%, $light-blue 100%);
$colour-lighter-gray: rgb(239, 239, 239);